<h1>{{vehicle.title}} | Fill up {{fuel.id}}</h1>

Purchase date : {{formatDate fuel.date}}<br/>
Litres: {{fuel.litres}}<br/>
Price/litre: {{formatCost fuel.ppl dp=3}}<br/>
Trip: {{fuel.trip}}<br/>
Odometer: {{fuel.odo}}<br/>
Cost: {{formatCost fuel.cost}}<br/>
Fuel type: {{fuel.type}}<br/>
MPG: {{formatMPG fuel.mpg}}<br/>
Notes: {{fuel.notes}}<br/>

{{#if canAdd}}
	<a class="btn-primary btn" role="button" href="/vehicle/{{vehicle.id}}/addFillup">Add another</a>
{{/if}}
Back to <a href="/vehicle/{{vehicle.id}}">{{vehicle.title}}</a><br/>
