<h1>{{title}}</h1>

<div class="btn-group">
    <button type="button" class="btn btn-default">Edit</button>
    <button type="button" class="btn btn-default">Remove</button>
</div>

<div id="accordion" class="panel-group" role="tablist" aria-multiselectable="true">
    <div class="panel panel-default">
        <div class="panel-heading" id="headingOne">
            <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
					Details
				</a>
			</h4>
        </div>
        <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="headingOne">
            <ul class="list-group">
                <li class="list-group-item">Purchase date: {{formatDate vehicle.purchase.date}}</li>
                <li class="list-group-item">Fuel type: {{getFuelType vehicle.fuel.type}}</li>
                <li class="list-group-item">Fuel capacity: {{vehicle.fuel.capacity}}</li>
                <li class="list-group-item">Oil type: {{vehicle.oil.type}}</li>
                <li class="list-group-item">Oil capacity: {{vehicle.oil.capacity}}</li>
                <li class="list-group-item">Tyres:
                    <table class="table">
                        <tr>
                            <th>Position</th>
                            <th>Pressure</th>
                            <th>Size</th>
                        </tr>
                        <tr>
                            <td>Front</td>
                            <td>{{vehicle.tyres.front.capacity}}</td>
                            <td>{{vehicle.tyres.front.type}}</td>
                        </tr>
                        <tr>
                            <td>Rear</td>
                            <td>{{vehicle.tyres.rear.capacity}}</td>
                            <td>{{vehicle.tyres.rear.type}}</td>
                        </tr>
                    </table>
                </li>

            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading" id="headingTwo">
            <h4 class="panel-title">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
					Summary
				</a>
			</h4>
        </div>
        <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">
            <ul class="list-group">
                <li class="list-group-item">Purchase date: {{formatDate vehicle.purchase.date}}</li>
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading clearfix" id="headingThree">
            <h4 class="panel-title pull-left">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="true" aria-controls="collapseThree">
					Fuel Records {{vehicle.fuelIDs.length}} 
				</a>
			</h4>
			<a class="btn-primary btn-xs pull-right" role="button" href="/vehicle/{{vehicle.id}}/addFillup">Add</a>
        </div>
        <div id="collapseThree" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingThree">
            <ul class="list-group">
				{{#each vehicle.fuelRecs}}
				<li class="list-group-item"><a href="/vehicle/{{../vehicle.id}}/fuel/{{this.id}}">{{this.toString}}</a></li>
				{{/each}}
            </ul>
        </div>
    </div>
    <div class="panel panel-default">
        <div class="panel-heading clearfix" id="headingFour">
            <h4 class="panel-title pull-left">
				<a data-toggle="collapse" data-parent="#accordion" href="#collapseFour" aria-expanded="true" aria-controls="collapseFour">
					Service Records {{vehicle.serviceIDs.length}}
				</a>
			</h4>
			<a class="btn-primary btn-xs pull-right" href="/vehicle/{{vehicle.id}}/addService">Add</a>
        </div>
        <div id="collapseFour" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingFour">
            <ul class="list-group">
				{{#each vehicle.serviceRecs}}
				<li class="list-group-item"><a href="/vehicle/{{../vehicle.id}}/service/{{this.id}}">{{this.toString}}</a></li>
				{{/each}}
            </ul>
        </div>
    </div>
</div>
