<h1>{{vehicle.title}} | Service Item {{service.id}}</h1>

Purchase date : {{formatDate service.date}}<br/>
Odometer: {{service.odo}}<br/>
Item: {{service.item}}<br/>
Cost: {{formatCost service.cost}}<br/>
Notes: {{service.notes}}<br/>

<!-- Modal -->
<div class="modal" id="removeServiceModal" tabindex="-1" role="dialog" aria-labelledby="modalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="modalLabel">Remove Service Record?</h4>
      </div>
      <div class="modal-body">
		  Do you want to remove this service record [{{service.id}}]?<br/>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
		<a type="button" class="btn btn-warning" href="/vehicle/{{vehicle.id}}/service/{{service.id}}/remove">Remove</a>
      </div>
    </div>
  </div>
</div>
{{#if canAdd}}
	<a class="btn-primary btn" role="button" href="/vehicle/{{vehicle.id}}/service/add">Add another</a>
{{/if}}
<a class="btn-primary btn" role="button" href="/vehicle/{{vehicle.id}}/service/{{service.id}}/edit">Edit</a>
<button type="button" type="button" class="btn btn-warning" data-toggle="modal" data-target="#removeServiceModal">Remove</button>
<a class="btn-primary btn" role="button" href="/vehicle/{{vehicle.id}}">Back</a>
