<div id="container">
  <!-- empty -->
</div>
<script type="text/javascript">
  buildChart({
    {
      vehicle.id
    }
  });

</script>
<a class="btn btn-primary" href="/vehicle/{{vehicle.id}}">Back</a>
