<h1>About Jalopynomos</h1>

What does it mean?
<ul>
	<li><a href="http://en.wikipedia.org/wiki/Decrepit_car">Jalopy</a> - slang term for old car</li>
	<li><a href="http://en.wikipedia.org/wiki/Nomos">nomos</a> - the Greek term for "law" (νόμος, nómos; pl. νόμοι, nómoi). It is the origin of the suffix -onomy</li>
</ul>
	
<p>Hence, a tool for car economy tracking.</p>

<h3>Contact</h3>
<ul>
	<li><a href="mailto:lokidokicoki@gmail.com">Mail lokidokicoki</a></li>
	<li><a href="https://github.com/lokidokicoki/jalopynomos">Github page</a></li>
</ul>

<p>Version: <strong>{{version}}</strong></p>
